*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-image: url(./design1_image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h2{
    margin: 100px;
    background-color: white;
    display: block;
    width: 1000px;
    position: absolute;
    top: 250px;
    left: 350px;
    text-align: center;
    color: black;
    border: solid 4px black;
}



figure{
    position: absolute;
    top: 100px;
    left: 190px;
    border: solid 4px black;
    background-color: white;
}

h1{
    position: absolute;
    top: 60px;
    left: 460px;
    font-size: 80px;
    height: 250px;
    padding: 60px;
    background-color: black;
    color: white;
}

nav{
    position: absolute;
    top: 0px;
    width: 1600px;
    height: 50px;
    background-color:black;
}

.link1{
    position: absolute;
    top: 13px;
    left: 1200px;
    color: white;
    text-align: center;
}
.link2{
    position: absolute;
    top: 13px;
    left: 1300px;
    color: white;
    text-align: center;
}
.link3{
    position: absolute;
    top: 13px;
    left: 1400px;
    color: white;
    text-align: center;
}

.imagen{
    position: absolute;
    top: 450px;
    left: 150px;
}

section{
    width: 1000px;
    height: 90px;
    position: relative;
    top: 400px;
    left: 450px;
    background-color: black;
    color: white;
    text-align: center;
}
h4{
    margin: 40px;
    text-align: center;
    padding-top: 30px;
}