*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.banner{
    background-image: url(./design1_image2.jpg);
    background-position: center;
    background-size: 12;
    margin: 100px;
    height: 250px;
    border: 4px solid black;
    padding: 40px;
}

h1{
    margin: 45px;
    position: absolute;
    top: 9px;
    left: 52px;
    font-size: 50px;

}

h2{
    margin: 100px;
    background-color: white;
    display: block;
    width: 1400px;
    position: absolute;
    top: 250px;
    text-align: center;
    color: black;
    border: solid 4px black;
}

figure{
    
    display: inline-block;
    border: 3px solid black;
    position: absolute;
    top: 450px;
    left: 110px;
    box-shadow: 4px 4px 8px black;
    z-index: 3;
}
.link1{
    position: absolute;
    left: 1100px;
    top: 80px;
    display: inline-block;
    background-color: blue;
    border: solid 3px black;
    height: 45px;
    width: 100px;
    text-align: center;
    padding: 10px;
    box-shadow: 4px 4px 8px black;
    transition: none;
    color: white;
}

.link1:focus{
    background-color: green;
}

.link2{
    position: absolute;
    left: 1250px;
    top: 80px;
    display: inline-block;
    background-color: blue;
    border: solid 3px black;
    height: 45px;
    width: 100px;
    text-align: center;
    padding: 10px;
    box-shadow: 4px 4px 8px black;
    transition: none;
    color: white;
}
.link2:focus{
    background-color: green;
}

.link3{
    position: absolute;
    left: 1400px;
    top: 80px;
    display: inline-block;
    background-color: blue;
    border: solid 3px black;
    height: 45px;
    width: 100px;
    text-align: center;
    padding: 10px;
    box-shadow: 4px 4px 8px black;
    transition: none;
    color: white;
}

.link3:focus{
    background-color: green;
}


section{
    width: 700px;
    height: 100px;
    position: relative;
    bottom: 10px;
    left: 350px;
}

.imagen{
    position: absolute;
    top: 450px;
    left: 1150px;
    }